body {
    background-color:black;
}



h1 {
    padding-left: 0px;
}

p {color:black}

img {border-radius: 100%;}

div.full {
    min-height: 
    background-color:auto;
display: grid;
grid-template-columns:
}

div.top {
    min-height: 50px;
    background-color:azure;
}

div.bottom {
    min-height: 50px;
    background-color:rgb(171, 219, 123);
}





